@using ManagersWeb.ViewModels;

@model ManagerViewModel
@{
    ViewBag.Title = "Details Of Manager";
}

<h2>Details Of Manager</h2>
<br />
<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Model.Name
    </div>
</div>
<br />