@using ManagersWeb.Models;
@model List<Client>

@{
    ViewBag.Title = "Client Page";
}

<h3>List Of Clients</h3>



<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Sales", "GetSales", new { id = item.Id })
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })

            </td>
        </tr>
    }
</table>
